css/estilos.css
body {
  background-color: #f4f6f5;
  /* ===== ENCABEZADO CON ESCUDO ===== */
.encabezado-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.escudo.jpg {
  width: 5px;
  max-width: 5px;
  height: auto;
}

.texto-encabezado h1 {
  margin: 1;
}

.texto-encabezado p {
  margin: 5px 5 5;
}

}

}











css/
 └── estilos.css

